ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(89, 205, 237);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #0820cf4b;
}


/*dropdown menu*/
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn { /*kleur en opmaak van de knop zelf*/
  font-size: 16px;  
  border: none;
  outline: none;
  color: lightblue;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn { /*kleur voor de hover voor de button*/
  background-color: rgb(0, 0, 40);
}

.dropdown-content { /*opmaak van de inhoud van de dropdown*/
  display: none;
  position: absolute;
  background-color: rgb(0, 0, 111);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1; /*code zodat de dropdown bovenaan de website komt*/
}

.dropdown-content a { /*opmaak voor de tekst van de inhoud dropdown*/
  float: none;
  color: lightblue;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover { /*kleur voor de hover van de inhoud van de dropdown*/
  background-color: rgb(0, 0, 40);
}

.dropdown:hover .dropdown-content { /*wat voor soort display de dropdown heeft*/
  display: block
}