.navbar {
    overflow: hidden;
    background-color: black; /*achtergrond van navigation bar*/
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;  /* waar staat de rest in de navigation bar*/
  }
  
  .dropdown {
    float: left;
    overflow: hidden; /* waar staat dropdown in de navigation bar*/
  }
  
  .dropdown .dropbtn {
    font-size: 14px;  
    border: none;
    outline: none;
    color: white;
    background-color: inherit; /*zorgt voor dezelfde achtergrondkleur als de rest van de navbar*/
    font-family: inherit; /*zorgt voor dezelfde letterype als de rest van de nav bar*/
    padding: 16px 16px;
    margin: 0; /*opmaak van dropdown*/
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #5c5b5b; /*welke kleur dorpdown wordt als je met cursor erover heen gaat*/
  }
  
  .dropdown-content { /* hoe het menu van de dropdown eruit ziet*/
    display: none;
    position: absolute;
    background-color: black; 
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /*schaduw*/
  }
  
  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left; /* meer opmaak van het dropdown menu*/
  }
  
  .dropdown-content a:hover {
    background-color: #5c5b5b; /*kleur achtergrond dropdown menu*/
  }
  
  .dropdown:hover .dropdown-content {
    display: block;

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(89, 205, 237);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: #111;
}

.third-level-menu
{
    position: absolute;
    top: 0;
    right: -150px;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.third-level-menu > li
{
    height: 30px;
    background: #999999;
}
.third-level-menu > li:hover { background: #CCCCCC; }

.second-level-menu
{
    position: absolute;
    top: 30px;
    left: 0;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.second-level-menu > li
{
    position: relative;
    height: 30px;
    background: #999999;
}
.second-level-menu > li:hover { background: #CCCCCC; }

.top-level-menu
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-level-menu > li
{
    position: relative;
    float: left;
    height: 30px;
    width: 150px;
    background: #999999;
}
.top-level-menu > li:hover { background: #CCCCCC; }

.top-level-menu li:hover > ul
{
    /* On hover, display the next level's menu */
    display: inline;
}


/* Menu Link Styles */

.top-level-menu a /* Apply to all links inside the multi-level menu */
{
    font: bold 14px Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    padding: 0 0 0 10px;

    /* Make the link cover the entire list item-container */
    display: block;
    line-height: 30px;
}
.top-level-menu a:hover { color: #000000; }
